<<<<<<< HEAD
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

@media (max-width: 875px) {
    body {
        background-color: rgb(63, 59, 59);
    }
}

header {
    width: 100%;
    position: fixed;
    background-color: white;
}

#navbar {
    position: inherit;
    width: 100%;
    background-color: red;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

ul li {
    display: inline-block;
}

ul li a {
    font-size: 20px;
    display: block;
    width: 100px;
    color: white;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}

#welcome-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(65deg, black);
    line-height: 0.5em;
    text-align: center;
}

h1 {
    color: white;
    font-size: 60px;
}

p i {
    color: red;
    font-size: 2rem;
}

h2 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    text-align: center;
    border-bottom: 0.2rem solid white;
    max-width: 680px;
    margin: 0 auto 6rem auto;
}

#projects {
    background-color: rgba(106, 106, 197, 0.733);
}

.project-tile {
    float: left;
    width: 33.33%;
    padding: 5px;
    height: auto;
}

#image {
    width: 100%;
    height: 400px;
}

figcaption {
    color: white;
    text-align: center;
    font-size: 20px;
    background-color: black;
    width: 100%;
    height: 40px;
    margin-top: 0px;
    padding: 5px;
}

#projects::after {
    padding: 20px;
    content: "";
    clear: both;
    display: table;
}

#contact {
    width: 100%;
    height: 40px;
}

footer {
    background-color: black;
    height: 20%;
    color: white;
    text-align: center;
    line-height: 10pt;
}
=======
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    }
    #header{
        height: 200px;
        width: 100%;
  
        
    }
    #navbar{
        font-size: 25px;
        width: 35%;
        float: right;
        width:100%;
        margin-top: auto;
        position: fixed;
        background-color: rgba(255, 0, 0, 0.678);
        height: 100px;
       
    }
    #navbar ul{
        line-height: 100px;
        float: right;
        text-align: center;
        padding: 10px;
        margin-right: 5px;
    
    }
    #navbar ul li{
        list-style: none;
        height: 50px;
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
        
    }
    #navbar a{
        text-decoration: none;
        color: white;
        text-align: center;
        
    }
    #navbar a:hover{
        background-color: gray;
    }
    .clearfix{
        clear:both;
        float: none;
    }
    #welcome-section{
        width: 100%;
        text-align: center;
        color: white;
        height:100vh;
     
    }
    #welcome text{
        text-align: center;
        color: white;
    }
    #projects{
        background-color: rgba(106, 106, 197, 0.733);
        color:white;
        min-height: 800px;
        max-height: 100%;
        text-align: center;
        justify-content: center;
    }
    .project-tile{
        width:100%;
        margin:5px;
        list-style: none;
        padding:10px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }
    .project-tile ul{
        align-content: center;
        margin: 5px;
        padding: 5px;
    }
    .project-tile ul li{
        margin: 5px;
        align-content: center;
        
    
    }
    .project-tile img{
        width:400px;
        height:300px;
        display: flex;
        justify-content: center;
        margin: 5px;
    }
    
    #contact{
        width: 100%;
        height: 300px;
    }
    .contact-header{
        color: white;
    }
    .links{
        color:white;
        font-size: 22px;
        text-decoration: none;
        margin:5px;
        
    }
    .links img{
        width: 20px;
        height: 20px;
        
    }
    #footer{
        color:white;
    }
    @media (max-width: 875px){
        body{
            background-color: rgb(63, 59, 59);
    }}
>>>>>>> 00a0b3a650061a9e230fcb815e4145900a8d87c8
