body {
    background-color: rgba(106, 106, 197, 0.733);
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

#header {
    height: auto;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    width: inherit;
    float: right;
    width: 100%;
    position: fixed;
    height: auto;
    padding: 10px;
    background-color: red;
    top: 0;
    left: 0;
}

#navbar ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    float: right;
}

#navbar ul li {
    list-style: none;
    display: inline;
    font-size: 20px;
    padding: 50px;
}

#navbar ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
}

#navbar ul li a:hover {
    background-color: gray;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    height: 100vh;
    background-color: black;
}

h1 {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
}

p i {
    font-size: 35px;
    color: red;
}

#welcome text {
    text-align: center;
    color: white;
}

h2 {
    display: block;
    max-width: 680px;
    margin: 0 auto 6rem auto;
    position: relative;
    text-align: center;
    font-size: 50px;
    color: white;
    border-bottom: 0.2rem solid white;
}

#projects::after {
    content: "";
    clear: both;
    display: table;
    color: white;
    height: 100%;
    width: 100%;
    background-color: rgba(106, 106, 197, 0.733);
    padding: 10rem 2rem;
}

.project-tile {
    float: left;
    width: 30%;
    margin-left: 2%;
}

.project-tile img {
    width: 100%;
    height: 300px;
}

figcaption {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

#contact {
    width: 100%;
    height: 80px;
}

.contact-header {
    color: white;
}

.links {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.links:hover {
    color: blue;
}

.links img {
    width: 20px;
    height: auto;
    border-radius: 50%;
}

#footer {
    background-color: black;
    height: auto;
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width:590px) {
    .project-tile {
        width: 50%;
    }
}